:root {
    --XXXSmall: 12px;
    --XXSmall: 14px;
    --XSmall: 16px;
    --small: 18px;
    --medium: 20px;
    --large: 22px;
    --XLarge: 24px;
    --XXLarge: 28px;
    --XXXLarge: 25px;
    --XXXXLarge: 30px;
    --XXXXXLarge: 50px;
    --font-thin: 100;
    --font-extralight: 200;
    --font-light: 300;
    --font-normal: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;
    --font-black: 900;
    --white1: #ffffff;
    --blue1: #3d87b3;
    --blue2: #367fa9;
    --blue3: #659bbe;
    --blue4: #28aed3;
    --blue5: #0c0fff;
    --blue6: #3c8dbc;
    --blue7: #357ca4;
    --grey1: #222d32;
    --grey2: #d8d8d8;
    --grey3: #ecf0f5;
    --grey4: #6d6d6e;
    --grey5: #fafafa;
    --grey6: #383636;
    --grey7: #888888;
    --grey8: #f2eded;
   --green1:#00EBD1;
   --purple1:#510C6E;
   --purple2:#AB0EFF;
   --purple3:#EB75FF;
}
